@font-face {
  font-display: swap;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ProximaNova-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/ProximaNova-Semibold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/ProximaNova-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Cyberpunk';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Cyberpunk.woff2') format('woff2');
}
